terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
.terraform.lock.hcl
.terraform
artifacts/
/LFS258_V2021-02-05_SOLUTIONS.tar.xz
/LFS258/
config
kubernetes.default_6443/
metrics-server/
fluentd-kubernetes-daemonset/
